.head {
  background-color: #ff7322;
  display: flex;
  height: 91px;
  align-items: center;
  width: 100%;
}
.head img {
  margin-left: 20px;
}

.center {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.center p {
  color: #fff;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 53px;
}
.center img {
  width: 167px;
  height: 46px;
  margin: 30px 5px;
  align-items: center;
  flex-shrink: 0;
}
.logo1 {
  margin-right: 30px;
}
.logo2 {
  margin-right: 30px;
}
/*  MEDIA QUERY FOR HEADER */
@media only screen and (max-width: 336px) {
  .head img {
    margin-left: 0px;
  }
  .center {
    margin-left: 0px;
    margin-right: 0px;
  }
  .center p {
    line-height: 30px;
  }
  .head {
    overflow: hidden;
  }
}
@media only screen and (max-width: 406px) {
  .logo1 {
    display: none;
  }
}
@media only screen and (max-width: 636px) {
  .center img {
    padding-top: 15px;
  }
}
@media only screen and (max-width: 566px) {
  .logo2 {
    margin-right: 0px;
    margin-left: 0px;
  }
  .logo1 {
    margin-right: 0px;
  }
}
@media only screen and (max-width: 550px) {
  .logo2 {
    display: none;
  }
  .center img {
    width: 100px;
    margin-left: 0px;
  }
}
